<div class="w-full mt-12 mt-16">
  <div class="w-full max-w-5xl mx-auto">
    <h2
      class="text-3xl font-display font-bold uppercase tracking-wider text-[#ffb586]"
    >
      Pourquoi travailler en France ?
    </h2>
  </div>
  <div
    id="container"
    class="w-full max-w-5xl mx-auto fle flex-row justify-center items-start mt-4 space-y-2"
  >
    <p>
      La France est reconnue dans le monde entier pour ses investissements envers l'innovation, les industries créatives, et les avancées technologiques. En tant que professionnel du développement informatique, je suis convaincu que travailler en France me permettra de m'intégrer dans un environnement propice à la croissance de mes compétences techniques et créatives.
    </p>
    <p>
      De plus, après mon premier voyage en France pendant 3 mois en 2021, j'ai été impressionné par la culture de ce pays, ses paysages, et sa qualité de vie.
    </p>
    <p>
      Quant à mon niveau de français, je me sens capable de m'adapter rapidement à un environnement francophone. J'ai en effet validé un <a target="_blank" class="text-accent-500 hover:opacity-80" href="/resume/Candidat_BENITEZ_SILVA_Tomás_Agustín_-_duplicata_attestation TCF TP.pdf">niveau experimenté "C1" (Cliquez ici, pour télécharger le certificat)</a>, dans le cadre d'un examen conduit par l'Alliance française de Buenos Aires, et je suis prêt à m'engager dans un programme d'apprentissage intensif pour atteindre la fluidité.
    </p>
  </div>
</div>