<div class="w-full mt-12 mt-16">
  <div class="w-full max-w-5xl mx-auto">
    <h2
      class="text-3xl font-display font-bold uppercase tracking-wider text-[#ffb586]"
    >
      Pourquoi travailler en France ?
    </h2>
  </div>
  <div
    id="container"
    class="w-full max-w-5xl mx-auto fle flex-row justify-center items-start mt-4 space-y-2"
  >
    <p>
      La France est reconnue dans le monde entier pour son engagement envers l'innovation, les industries créatives, et les avancées technologiques. En tant que professionnel du développement informatique, je suis convaincu que travailler en France me permettra de m'immerger dans un environnement propice à la croissance de mes compétences techniques et créatives.
    </p>
    <p>
      De plus, après mon premier voyage en France en 2021, j'ai été impressionné par la culture, les paysages, et la qualité de vie.
    </p>
    <p>
      Quant a mon niveau de français, je crois que je suis capable de m'adapter rapidement à un environnement francophone. J'ai déjà un niveau intermédiaire (C1), et je suis prêt à m'engager dans un programme d'apprentissage intensif pour atteindre la fluidité.
    </p>
  </div>
</div>