---
import Tags from "./Tags.astro";
import Intro from "./Intro.astro";
---

<section
  id="about-me"
  class="pt-8 px-4 overflow-hidden flex flex-col items-center"
>
  <Intro />
  <Tags />
</section>
