<section class="pt-8 px-4 overflow-hidden flex flex-col items-center">
  <div class="w-full max-w-5xl mt-12">
    <h2
      class="container xl:max-w-7xl text-4xl font-display font-bold uppercase tracking-wider text-[#ffb586]"
    >
      Experience professionnelle
    </h2>
    <div class="mt-8 space-y-4">
      <h4>
        <span class="font-bold text-accent-500">Responsable du Développement Informatique</span>
      </h4> 
      <p>
        <b>Agence de Marketing Digital et Développement Web "Digital Mix"</b>
      </p>
      <p>
        Buenos Aires, Argentina
      </p>
      <p>
        <span class="font-bold">Depuis Février 2020</span> - <span class="font-bold">Aujourd'hui &lpar;4 ans&rpar;</span>
      </p>
    </div>
    <div class="mt-4 space-y-2">
      <p class="max-w-[80ch]">Dans l'agence Digital Mix, je joue un rôle clé en gérant avec succès les aspects techniques des projets informatiques, contribuant ainsi au développement, à la maintenance et à l'optimisation des solutions web de nos clients.</p>
      <p>Mes principales responsabilités incluent :</p>
      <ul class="list-disc ml-4 space-y-2 max-w-[90ch]">
        <li>
          Concevoir et développer des sites web personnalisés en utilisant des langages de programmation tels que HTML, CSS, JavaScript, et PHP.
        </li>
        <li>
          Collaborer étroitement avec les équipes de conception et de contenu pour garantir une expérience utilisateur optimale.
        </li>
        <li>
          Assurer la sécurité et la stabilité des sites web en mettant en œuvre de meilleures pratiques en matière de sécurité informatique.
        </li>
        <li>
          Gérer les mises à jour régulières, les correctifs de sécurité et les améliorations fonctionnelles pour garantir des performances optimales.
        </li>
        <li>
          Fournir un support technique aux clients, résoudre les problèmes techniques et répondre aux demandes spécifiques.
        </li>
        <li>
          Collaborer avec d'autres membres de l'équipe pour garantir la cohérence de la stratégie de marketing digital et du développement web.
        </li>
      </ul>
    </div>
  </div>
</section>
