---
import Layout from "../layouts/Layout.astro";
import AboutMe from "../components/sections/AboutMe/index.astro";
import ProfExp from "../components/sections/ProfExp/index.astro";
import CompGen from "../components/sections/CompGen/index.astro";
import Contact from "../components/sections/Contact/index.astro";
---

<Layout title="Tomás Benítez">
  <AboutMe />
  <ProfExp />
  <CompGen />
  <Contact />
  <section class="h-[1000px]"></section>
</Layout>
