<section class="pt-8 px-4 overflow-hidden flex flex-col items-center">
  <div class="w-full max-w-5xl mt-12">
    <h2
      class="container xl:max-w-7xl text-4xl font-display font-bold uppercase tracking-wider text-[#ffb586]"
    >
      Compétences générales
    </h2>
    <div class="mt-8 space-y-4">
      <ul class="list-disc ml-4 space-y-2 max-w-[90ch]">
        <li>
          <b class="text-accent-500">Curiosité</b> : Ma curiosité m'incite à rester constamment informé des dernières tendances de l'industrie et à chercher des opportunités d'amélioration.
        </li>
        <li>
          <b class="text-accent-500">Autididacte</b> : Généralment, je suis capable d'aquérir de nouvelles compétences par moi-même. J'adore faire des recherches et lire de la documentation.
        </li>
        <li>
          <b class="text-accent-500">Résolution de problèmes</b> : Je suis capable de lier des concepts et des idées pour résoudre des problèmes complexes. J'aime trouver des solutions créatives et innovantes.
        </li>
        <li>
          <b class="text-accent-500">Gestion des priorités</b> : Je suis capable de gérer plusieurs projets simultanément et de respecter les délais, en choisissant estratégiquement les tâches à accomplir en premier.
        </li>
        <li>
          <b class="text-accent-500">Travail d'équipe</b> : Je suis capable de travailler en équipe et de collaborer avec d'autres membres de l'équipe pour atteindre un objectif commun.
        </li>
        <li>
          <b class="text-accent-500">Facilité avec les langues</b> : Je suis capable de communiquer en français, en anglais et en espagnol.
        </li>
      </ul>
    </div>
  </div>
</section>