---
import { getLocale } from "@/paraglide/runtime";
import { content } from "./index.content";
const locale = getLocale();
---

<section class="container xl:max-w-7xl pt-8 px-4 overflow-hidden flex flex-col items-center">
  <div class="w-full max-w-5xl mt-12">
    <h2
      class="container xl:max-w-7xl text-4xl font-display font-bold uppercase tracking-wider text-[#ffb586]"
    >
      {content[locale].title}
    </h2>
    <div class="mt-8 space-y-4">
      <ul class="list-disc ml-4 space-y-2 max-w-[90ch]">
        {content[locale].items.map((item) => (
          <li>
            <b class="text-accent-500">{item.label}</b> : {item.text}
          </li>
        ))}
      </ul>
    </div>
  </div>
</section>