<section
  id="contact"
class="pt-8 px-4 overflow-hidden flex flex-col items-center">
  <div class="w-full max-w-5xl mt-12">
    <h2
      class="container xl:max-w-7xl text-4xl font-display font-bold uppercase tracking-wider text-[#ffb586]"
    >
      Contactez-moi
    </h2>
    <div class="mt-8 space-y-4">
      <div class="flex justify-between w-full max-w-md">
        <div class="flex flex-col justify-between">
          <h5>Github :</h5>
          <a
            href="https://github.com/tomas-benitez"
            target="_blank"
            class="text-[#ffb586] hover:text-[#ff8a00] transition-colors duration-300"
          >
            https://github.com/tomas-benitez
          </a>
        </div>
        <div>
          <img src="/resume/github-logo.svg" alt="github logo" />
        </div>
      </div>
      <div class="flex justify-between w-full max-w-md">
        <div class="flex flex-col justify-between">
          <h5>LinkedIn :</h5>
          <a
            href="https://www.linkedin.com/in/tbs2020/"
            target="_blank"
            class="text-[#ffb586] hover:text-[#ff8a00] transition-colors duration-300"
          >
            https://www.linkedin.com/in/tbs2020/
          </a>
        </div>
        <div>
          <img src="/resume/linkedin-logo.svg" alt="linkedin logo" />
        </div>
      </div>
      <div class="flex justify-between w-full max-w-md">
        <div class="flex flex-col justify-between">
          <h5>Instagram :</h5>
          <a
            href="https://www.instagram.com/tomigrana6/"
            target="_blank"
            class="text-[#ffb586] hover:text-[#ff8a00] transition-colors duration-300"
          >
            https://www.instagram.com/tomigrana6/
          </a>
        </div>
        <div>
          <img src="/resume/instagram-logo.svg" alt="instagram logo" />
        </div>
      </div>
    </div>
  </div>
</section>