---
import { getLocale } from "@/paraglide/runtime";
import { content } from "./index.content";
import { marked } from "marked";
const locale = getLocale();
marked.use({
  renderer: {
    em: ({ text }) => {
      return `<span class="text-[#ffb586] font-bold">${marked.parseInline(text)}</span>`;
    },
  },
  gfm: true,
  breaks: true,
});
---

<section
  id="projects"
  class="container xl:max-w-7xl pt-8 px-4 overflow-hidden flex flex-col items-center"
>
  <div class="w-full max-w-5xl mt-12">
    <h2
      class="text-4xl font-display font-bold uppercase tracking-wider text-[#ffb586]"
    >
      {content[locale].section_title}
    </h2>
    {
      content[locale].projects.map((project) => (
        <div class="mt-8 space-y-4 pb-4 border-accent-500 border-opacity-25">
          <h5 class="text-2xl font-display font-bold uppercase tracking-wider text-[#ffb586]">
            {project.title}
          </h5>
          <div
            class="mt-4 description"
            set:html={marked.parse(project.description)}
          />
        </div>
      ))
    }
  </div>
</section>

<style>
  .description :global(p),
  .description :global(ul) {
    margin-top: 1rem;
  }
  .description :global(ul li) {
    margin-top: 1rem;
  }
  .description :global(ul) {
    @apply list-disc ml-4;
  }
</style>
